body{
	background-image: url('https://static.pexels.com/photos/1852/dawn-landscape-mountains-nature.jpg');
}
#container{
	width: 960px;
}
.chooseCharBox{
	width: 570px;
	height: 150px;
	margin: 10px 0 0 10px;
}
.chooseCharBox img{
	width: 100px;
	height: 100px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.chooseCharBox p,
h3
{
	text-align: center;
}
.chooseCharBox p1{
	font-size: 30px;
}
.char1{
	margin: 0px;
	width: 130px;
	height: 100%;
	border: 2px solid green;
	float: left;
}
.char2
{
	margin: 0px;
	width: 130px;
	height: 100%;
	border: 2px solid green;
	float: left;
}

.char3{
	margin: 0px;
	width: 130px;
	height: 100%;
	border: 2px solid green;
	float: left;
}
.char4
{
	margin: 0px;
	width: 130px;
	height: 100%;
	border: 2px solid green;
	float: left;
}
.char4 .starImage {
    margin-top: 0px;
}
.enemiesBox{
	width: 700px;
	height: 200px;
	margin-left: 10px;
}
.attackBtn{
	margin-left: 10px;
}
.resetBtn{
	margin-left: 10px;
}
.fightBox p{
	font-size: 30px;
	margin-left: 10px;
}
.defenderBox{
	width: 700px;
	height: 200px;
	margin-left: 10px;
}
.defenderBox p {
	margin-left: 10px;
}
p2{
	text-align: center;
}

